<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PawnoKit - Набор скриптера SAMP">
    <meta name="Keywords" content="PawnoKit, PawnKit, Pawno, Скриптинг">
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link type="text/css" rel="stylesheet" href="@Styles.Url("~/Content/css")">
    <script src="@Scripts.Url("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Scripts.Url("~/Scripts/pawnokit.js")"></script>

    @if (2 > 1) // LOAD WITH PAGER
    {
        <script src="@Scripts.Url("~/Scripts/history.js")"></script>
        <script src="@Scripts.Url("~/Scripts/pawnokitpager.js")"></script>
    }

    
    @if (ViewBag.StyleUrl != null)
    {
        <link href="@ViewBag.StyleUrl" rel="stylesheet" type="text/css" />
        if (2 > 1)// LOAD WITH PAGER
        {
            <script>
                PawnoKitPager.markStyleAsLoaded("@ViewBag.StyleUrl");
            </script>
        }
    }

    @if (ViewBag.ScriptUrl != null)
    {
        <script src="@ViewBag.ScriptUrl"></script>
    }

    <script>$(document).ready(function () { PawnoKit.improveLinks("a:not(.external)") });</script>
    <link rel="shortcut icon" href="/pfavicon.png" type="image/x-icon">
    <title>@ViewBag.Title - PawnoKit</title>
</head>
<body>
    <div id="wrapper">
        <div id="middle">
            <div id="container">
                <div id="content">
                    <!-- Render body -->
                    @RenderBody()
                </div>
            </div>
            <div id="aside-nav">
                <div class="menu">
                    <div class="item">
                        <a href="/" class="title">Главная</a>
                    </div>
                    <div class="item">
                        <a href="/ids" class="title">IDs</a>
                        <div class="submenu">
                            <a href="/skins" title="Списки скинов">Списки скинов</a>
                            <a href="/vehicles" title="Списки транспорта">Списки транспорта</a>

                            <a href="/ids/guns" title="Список оружия">Список оружия</a>
                            
                            <a href="/ids/cars" title="Цвета транспорта">Цвета транспорта</a>
                            <a href="#">Иконки на карте</a>
                            <a href="#">Виды GameText's</a>
                            <a href="#">Виды взрывов</a>
                            <a href="#">Виды погоды</a>
                            <a href="#">Покрасочные работы</a>
                            <a href="#">Гоночные чекпоинты</a>
                            <a href="#">Объекты</a>
                            <a href="#">Интерьеры</a>
                            <a href="#">Типы пикапов</a>
                        </div>
                    </div>
                    <div class="item">
                        <a href="#" class="title">IDs</a>
                        <div class="submenu">
                            <a href="#">Список оружия</a>
                            <a href="#">Списки скинов</a>
                            <a href="#">Списки транспорта</a>
                            <a href="#">Цвета транспорта</a>
                            <a href="#">Иконки на карте</a>
                            <a href="#">Виды GameText's</a>
                            <a href="#">Виды взрывов</a>
                            <a href="#">Виды погоды</a>
                            <a href="#">Покрасочные работы</a>
                            <a href="#">Гоночные чекпоинты</a>
                            <a href="#">Объекты</a>
                            <a href="#">Интерьеры</a>
                            <a href="#">Менеджер клавиш (KeyFinder)</a>
                        </div>
                    </div>
                </div> <!-- menu -->
            </div> <!-- Aside nav -->
        </div>
    </div>
</body>
</html>
